

/* message panel css here */
/* any tag with _c ending refers to the chat_panel */
/* all items under are chat panel css  */
.mainCont {
    height: 100%;
    width: 100%;
    background: var(--bgkColor);
    box-shadow: var(--boxShadow);
    backdrop-filter: var(--bkDropFilter);
    border-radius: .8em;
    padding: .8em .09em 0em 0em;
}

.messages_div {
    overflow-y: auto;
    overflow-x: hidden;
    height: 90%;
    padding-top: .3em;
}

/* to show who user and other msg sender is user is right and other is left */
.single_messageDiv__left,
.single_messageDiv__right {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    /* max-width: 50em;  */
    margin: .4em 0em 0em .7em;
}

.single_messageDiv__left {
    align-items: start;
}

.single_messageDiv__right {
    align-items: end;
    margin-right: .4em;
    color: white;
}

.single_messageDiv__right>div {
    background-color: deepskyblue;
}

.message {
    overflow-wrap: break-word !important;
    height: auto;
    width: auto;
    max-width: 14.5em;
    background-color: white;
    border-radius: 1.2em;
    padding: .5em;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* box-sizing: content-box; */
}

.message>p {
    font-size: .8em;
}

.dateOf_message {
    font-size: .5em;
    /* color: #E6EFEC; */
    color: #434560;
    margin: .2em 2.5em 0em 2.5em;
}


#sendMessage_form {
    height: auto;
    position: relative;
    max-width: 35em;
    min-width: 30em;
    width: 30em;
    margin: 0px auto;
}


.composeMsg_cont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: .5em;
}

.emojiPicker_cont {
    background-color: red;
}

#compose__msg {
    resize: initial !important;
    border-radius: 1.2em;
    padding: .8em .5em;
    resize: none;
    border: none;
    font-size: 1em;
    position: absolute;
    overflow: hidden;
    height: auto;
    min-height: 2em;
    width: 20em;
    background-color: white;
    left: 5rem;
    bottom: .3rem;
    outline: none;
    display: flex;
    flex-flow: column-reverse;
}

#compose__msg::placeholder {
    color: black;
}

.composeMsg_actionCont {
    height: 2em;
    width: 2em;
    cursor: pointer;
}

.emoji_picker {
    display: none;
}

.show {
    position: relative;
    top: -25rem;
    left: -7.5rem;
    display: block;
}


#btn {
    cursor: pointer;
    height: 2em;
    width: 2em;
    border: none;
    /* border-radius: 20em; */
    background-image: url('../imgsOnlyForDev/send_arrow.svg');
    background-color: transparent   !important;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}


.noChatSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    font-size: 1.1rem;
    text-decoration: underline;
}