@charset "UTF-8";

@font-face {
  font-family: "satoshi";
  src: url(Satoshi-Light.otf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "satoshi";
  src: url(Satoshi-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "satoshi";
  src: url(Satoshi-Bold.otf);
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "satoshi";
  src: url(Satoshi-LightItalic.otf);
  font-weight: lighter;
  font-style: italic;
}

:root {
  font-size: 16px;
  font-family: Satoshi;
  --bgkColor: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  --bkDropFilter: blur(1em);
  --boxShadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --textColor: black;
  --nonImportantText: #727f83;
  --primaryColor: #3066be;
  --secondaryColor: #ffe347;
  --thirdColor: #52dee5;
  --filterForIcons: 0%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #afaab9;
}

/* for firefox */
/* for some reason when i add this it cancels out the margin: 0px auto  */
html {
  /* overflow-y: scroll;
    scrollbar-color: silver #f1f1f1; */
  /* scrollbar-width: thin; */
  scrollbar-width: none;
}

body {
  height: 100vh;
  width: 100vw;
  /* light */
  background-image: url("https://portfolio-avis-s3.s3.amazonaws.com/app/images/night_fade.png");
  /* darken bgk img */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://portfolio-avis-s3.s3.amazonaws.com/app/images/night_fade.png); */
  /* background-image: url('../imgsOnlyForDev/gradient_2.svg'); */
  /* background-color: #13070C; */
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
h2 {
  font-weight: normal;
}

p,
a,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}

img{
  -webkit-user-drag: none;
}
/* width */
::-webkit-scrollbar {
  width: 0.2em;
  position: relative;
  left: 2em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 20em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 0.4em;
  background: blue;
}
.imgColorSwitch{
  -webkit-filter: invert(var(--filterForIcons)); 
  filter: invert(var(--filterForIcons)); 
}
