@import "global.css";


#mainPageDiv {
    margin: 0px auto;
    width: 70vw;
    height: 100vh;
    max-height: 100rem;
}
.navBar{
    height: 5%;
    width: 100%;
    max-height: 4em;
}

.underNavCont {
    max-height: 36rem;
    height: 95%;
    width: 100%;
    display: flex;
}

.colOne {
    flex: 1;
    max-width: 35%;
    padding: .7em;
}

.colTwo {
    flex: 2;
    padding: .7em;
}
.noChatSelected{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: underline;
}
