
.navCont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: .5em;
}

.profileActions {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

#userImg {
    margin-left: 2em;
    height: 2.5em;
    width: 2.5em;
    background-color: white;
    border-radius: 50em;
}

.otherIcons {
    width: 70%;
    display: flex;
    padding-left: 1.5em;
    cursor: pointer;
}

.gear:hover {
    transform: rotate(360deg);
    transition: all 1.8s ease-in-out 0s;
}

.otherIcons>img {
    height: 1.6rem;
    width: 1.6rem;
    margin-left: 2em;
}

.otherIcons>img:last-of-type {
    margin-left: 1em;
}

.chatInfoCont {
    flex: 1;
    display: flex;
    align-items: center;
}
.logoutSpan{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logoutDiv{

}
.chatInfoCont>img {
    cursor: pointer;
}

.chatIcon {
    margin-left: 2em;
    height: 2.2rem;
    width: 2.2rem;
}
.logoutIcon{
    margin-right: 2em;
    height: 1.5rem;
    width: 1.5rem;

}
.usersInChatDiv {
    margin-left: .5em;
    width: auto;
    position: relative;
}

.usersInChatDiv.show {
    min-width: 10rem;
    border-top-right-radius: .8em;
}

@keyframes rotateArr {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.arrBtn {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin-left: .3em;
}

.rotateArr {
    animation: rotateArr .5s alternate;
    animation-fill-mode: forwards;
}

.userDiv {
    display: none;
}

.userDiv.show {
    background-color: white;
    min-width: 12rem;
    padding: .4em .5em;
    height: auto;
    width: auto;
    display: block;
    position: absolute;
    top: 1.5rem;
    z-index: 10000;
    border-radius: 0 0 .4em .4em;
}

.repeatUser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .4em 0;

}

.repeatUser>img {
    margin: 0 .5em 0 1em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 5em;
}

.repeatUser>p {
    font-style: italic;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
