@import "global.css";

.navCont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: .5em;
}

.profileActions {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

#userImg {
    margin-left: 2em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50em;
}

.otherIcons {
    width: 70%;
    display: flex;
    padding-left: 1.5em;
    cursor: pointer;
}

.gear:hover {
    transform: rotate(360deg);
    transition: all 1.8s ease-in-out 0s;
}

.otherIcons>img {
    height: 1.6em;
    width: 1.6em;
    margin-left: 2em;
}

.otherIcons>img:last-of-type {
    margin-left: 1em;
}

.chatInfoCont {
    flex: 2;
    display: flex;
    align-items: center;
}

.chatInfoCont>img {
    cursor: pointer;
}

.chatIcon {
    margin-left: 2em;
    height: 1.7em;
    width: 1.7em;
}

.usersInChatDiv {
    margin-left: .5em;
    width: auto;
    position: relative;
}

.usersInChatDiv.show {
    background-color: white;
    min-width: 10rem;
    border-top-right-radius: .8em;
}

@keyframes rotateArr {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }

}

.arrBtn {
    height: 1.2em;
    width: 1.2em;
}

.rotateArr {
    animation: rotateArr .5s alternate;
    animation-fill-mode: forwards;
    /* filter: invert(100%) sepia(100%) saturate(0%) brightness(1000%); */
}

.userDiv {
    display: none;
}

.userDiv.show {
    background-color: white;
    min-width: 10rem;
    padding: .2em .5em;
    height: auto;
    width: 10rem;
    display: block;
    position: absolute;
    z-index: 10000;
    border-radius: 0 0 .8em .8em;
}

.repeatUser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: .2em;

}

.repeatUser>img {
    height: 1.5em;
    width: 1.5em;
    border-radius: 5em;
    margin: 0 .5em 0 1em;
}
.repeatUser > p{
    font-style: italic;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
    text-overflow: ellipsis;
}
.notActive {
    color: grey;
}

.active {
    color: blue;
}