@import "global.css";

.mainCont {
    height: 100%;
    width: 100%;
}

.subMain {
    padding: .8em .09em 0em 0em;
    background: var(--bgkColor);
    backdrop-filter: blur(2em);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: .8em;
    height: 90%;
    overflow-y: auto;
}

.msgNotification {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.left {
    margin-top: .6em;
    width: 30%;
    display: flex;
    align-items: center;
}

.usersPfp {
    height: 2.5em;
    width: 2.5em;
    border-radius: 20em;
    display: inline-block;
    margin-left: .3em;
}

.newNotification {
    opacity: 0;
    height: .4em;
    width: .4em;
    display: block;
    border-radius: 20em;
    display: inline-block;
    background-color: blue;
}

.newNotification.show {
    opacity: 1;
}

.right {
    width: 65%;
    margin-top: -.3em;
}

.right h4 {
    text-align: start;
    margin-left: -1.2em;
    color: white;
}

.right p {
    font-style: italic;
    color: white;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    width: 50%;
    text-overflow: ellipsis;
}