::placeholder{
    color: #AFAAB9;
}

#regFormBody {
    max-width:55rem ;
    max-height: 60rem;
    width: 80%;
    height: auto;
    margin: 0px auto;
    margin-top: 2em;
    border-radius: 1.2em 1.2em 1.2em 1.2em;
    background-color: red;
    background: transparent;
    display: flex;
    box-shadow: 0 .3em .9em rgba(0, 0, 0, .5);
}
.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2em 0px 0px 1.2em;
    width: 40%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(2em);
}

.formContainer {
    width: 80%;
    padding-bottom: 1.5em;
    text-align: center;
}

#loginForm{
    display:contents;
}
input {
    border: none;
    margin-top: .9em;
    width: 80%;
    height: 50px;
    padding-left: .9em;
    background-color: rgb(0, 0, 0, .0);
    border-bottom: .1em solid black;
    outline: none;
}
#toggleCheckBox{
    border: none;
}

input[type="file"] {
    display: none;
}

.age {
    width: 5em;
    text-align: center;
}
.submitBtn{
    background-color: blue;
    border-radius: 2em;
    width: 6.25em;
    color: white;
    padding: 0;
    margin-top:2.1em ;
    cursor: pointer;
    border: none;
}
.imgValP{
    color: red;
    display: block;
    font-size: .7rem;
    margin-top: .3em;
}

.regFormAside {
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 0px 1.2em 1.2em 0px;
    text-align: center;
}

.slantedDiv {
    clip-path: polygon(0 0, 100% 0, 100% 24%, 50% 50%, 0 24%);
}

.slantedImg {
    border-top-right-radius: 1.2em;
    width: 100%;
}
.titles{
    position: relative;
    top: -9.3em;
}
.titlesP{
    margin-top: .9em;
}

#showPfp {
    visibility: visible;
    margin-bottom: .9em;
    width: 3.7em;
    height: 3.7em;
    border-radius: 2em;
    
}
.pfpLabel {
    border: .03px solid blue;
    padding: .3em .75em;
    cursor: pointer;
    font-size: .7rem;
    margin-right: 1.2em;    
}

/* button toggle*/
.btn1div{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .6em;
}
input[type="checkbox"]{
    cursor: pointer;
    position: relative;
    width: 11.25em ;
    height: 2em;
    /* this is changing the size of the checkbox */
    appearance: none;
    -webkit-appearance: none;
    /* need to set appearance:  to none to be able to change background color ; */
    background-color: white;
    outline: none;
    border-radius: 2em;
    transition: .0s;
    /* if u change transtiotion from .0s to a number it will make a form that changes hoe the input is added */
}
input:checked[type="checkbox"]{
    background-color:white;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 5em;
    height: 2em;
    border-radius: 2em;
    top: 0;
    left: 0;
    background-color: blue;
    transform: scale(1.1);
    transition: .5s;

}
input:checked[type="checkbox"]:before{
    left: 5.5em;
}
.toggleP{
    position: relative;
    top:-1.7rem;
    text-align: center;
    color: white;
    pointer-events: none;
    display: flex;
    width: 90%;
    padding: 0px .6em;
    justify-content: space-between;
}
.pSpan{
    color: #95969D;
}
.p{
    color: white;
}