.searchBarCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 10%;
}

::placeholder {
    color: white;
}

#searchForm {
    width: 100%;
    background: var(--bgkColor);
    box-shadow: var(--boxShadow);
    backdrop-filter: var(--bkDropFilter);
    display: flex;
    align-items: center;
    border-radius: .8em;
    /* border: 2px solid; */
    padding: 0px 15px;
}

#searchForm input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    margin: 0;
}
.input{
    padding: .6em 0;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.usersSearchDiv {
    display: none;
}

.usersSearchDiv.show {
    position: relative;
    z-index: 1000;
    display: flex;
    background-color: white;
    border-radius: 0% 0% .5em .5em;
    width: 80%;
    margin: 0px auto;
    height: auto;
    max-height: 25em;
    padding: .3em 0em;
}
.scrollDiv{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.repeatedDiv {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1em .4em;
    cursor: pointer;
    cursor: pointer;
    font-size: .84rem;
}
.repeatedDiv:hover{
    color: blue;
    background-color: deepskyblue;
}
.col1{
    width: 10%;
}
.col2{
    width: 80%;
    text-align: start;
}
.col2 p {
    white-space: normal;
    word-break: break-all;
}
h6 {
    margin-left: 2.5rem;
}

.repeatedDiv img {
    height: 2.2em;
    width: 2.2em;
    border-radius: 50em;
}